name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  VERSION: 1.2.${{ github.run_number }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release -p:Version=${{ env.VERSION }}
    - name: Pack
      run: dotnet pack --no-build -c Release -p:Version=${{ env.VERSION }}
    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        name: AskGPT-${{ env.VERSION }}-Package
        path: AskGPT/PackageOutput

